html(lang="en")
head
	title Wikipedia Data
	link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
body

	a(href='/pieChart' id='pie')
		button(type="button" class="btn btn-primary btn-lg") Pie Chart
	br
	a(href='/barChart' id='bar')
		button(type="button" class="btn btn-primary btn-lg") Bar Charts
	div#myChart

	div
	script(src="https://www.gstatic.com/charts/loader.js")
	script(src="/js/main.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
